{{!< layout }}

<!-- Tab links -->
<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'Suggestion')">Suggestion</button>
  <button class="tablinks" onclick="openCity(event, 'NewDev')">Resume Upload</button>
</div>

<!-- Tab content -->
<div id="Suggestion" class="tabcontent" style="display:block">
  <div style="position: relative; top: 16px; left: 16px; flex:80%">
  
<h3>Enter the new issue key (Ex: RP-1)</h3>
<!--method="post" action="/ask"-->
<form class="aui">
    <label for="keyname">Search issues: </label>
    <input 
      class="text long-field" 
      type="text" 
      id="keyname" 
      name="keyname" 
      placeholder="Key-1">
    <!--<div class="description">Enter the issue key here (Ex: RP-1)</div>-->
    <!--<input type="submit" value="Search">
    <button type="submit" form="nameform" value="Submit">Submit</button>-->
    <button 
      class="aui-button aui-button-primary"
      type="submit" 
      form="keyname" value="Search" onclick="formChanged()">Search</button>
    
</form>

<!--<form action="http://127.0.0.1:5000/suggested/" method="get">
    <input type="text" name="projectFilepath">
    <input type="submit">
</form>-->

<h3>Target Issue</h3>

<table id="issueTable">
<thead>
	<tr>
	<th>Issue Type</th>
	<th>Summary</th>
  <th>Description</th>
	<th>Key</th>
  <th>Priority</th>
  <th>Issue Creator</th>
	</tr>
</thead>
<tbody>
	<tr></tr>
</tbody>
</table>

<p>Suggested Assignee List</p>
<span>{{result.objective_function}}</span>

<!--<button class="aui-button aui-dropdown2-trigger" aria-controls="example-dropdown">
    Assignee dropdown
</button>

<aui-dropdown-menu id="example-dropdown">
      <aui-item-link id="r1" href="#"></aui-item-link>
      <aui-item-link id="r2" href="#"></aui-item-link>
      <aui-item-link id="r3" href="#"></aui-item-link>
</aui-dropdown-menu>-->

<table id="assigneeTable">
<thead>
	<tr>
	<th> </th>
	</tr>
</thead>
<tbody>
  <tr id="r1" onclick="rowClicked(id)">
    <td id="avatar_r1"></td>
    <td id="name_r1"></td>
  </tr>
  <tr id="r2" onclick="rowClicked(id)">
    <td id="avatar_r2"></td>
    <td id="name_r2"></td>
  </tr>
  <tr id="r3" onclick="rowClicked(id)">
    <td id="avatar_r3"></td>
    <td id="name_r3"></td>
  </tr>
  <tr id="r4" onclick="rowClicked(id)">
    <td id="avatar_r4"></td>
    <td id="name_r4"></td>
  </tr>
  <tr id="r5" onclick="rowClicked(id)">
    <td id="avatar_r5"></td>
    <td id="name_r5"></td>
  </tr>


	<!--<tr>
    <button class="aui-button aui-button-primary" id="r1" onclick="buttonClicked()">
    </button>
  </tr>
  <tr>
    <button class="aui-button aui-button-primary" id="r2">
    </button>
  </tr>
  	<tr>
    <button class="aui-button aui-button-primary" id="r3">
    </button>
  </tr>
  	<tr>
    <button class="aui-button aui-button-primary" id="r4">
    </button>
  </tr>
  	<tr>
    <button class="aui-button aui-button-primary" id="r5">
    </button>
  </tr>-->


</tbody>
</table>
</div>
</div>

<div id="NewDev" class="tabcontent">
  <!--<h3>Upload Resume For New Developers</h3>
  <div style="position: absolute; top: 16px; right: 16px; font-size: 14px; flex:20%">-->
  <div id="myForm" style="display:block">
    <form action="http://127.0.0.1:5000/getfile" method="POST" enctype="multipart/form-data">
          Project file path: <input type="file" name="myfile"><br>
          <input type="submit" value="Submit" onclick="formSubmitted()">
    </form>

  </div>

  <div class="alert alert-success" id="myAlert" style="display:none">
    <strong>Success!</strong> Indicates a successful or positive action.
  </div>

</div>


<div style="display :flex;">
   
</div>




