{{!< layout }}

<div class="alert alert-info" id="DatabaseUpdatedAlert" style="display:none">
    <strong>Database Updated! All Data Synced!</strong> 
</div>

<!-- Tab links -->
<div class="tab">
  <button class="tablinks w3-blue" onclick="openTab(event, 'Suggestion')">Search Suggestion</button>
  <!--<button class="tablinks" onclick="openTab(event, 'ShowAllUnassigned')">All Unassigned Issues</button>-->
  <button class="tablinks" onclick="openTab(event, 'NewDev')">Resume Upload</button>
</div>

<!-- Tab content -->
<div id="Suggestion" class="tabcontent" style="display:block">
  <div style="position: relative; top: 16px; left: 16px; flex:80%">
  
<h3>Enter the new issue key (Ex: RP-1)</h3>
<!--method="post" action="/ask"-->
<form class="aui" id="SearchForm">
    <label for="keyname"> </label>
    <input 
      class="text long-field" 
      type="text" 
      id="keyname" 
      name="keyname" 
      placeholder="Key-1">
    <!--<div class="description">Enter the issue key here (Ex: RP-1)</div>-->
    <!--<input type="submit" value="Search">
    <button type="submit" form="nameform" value="Submit">Submit</button>-->
    <button 
      id="buttonReset"
      class="btn btn-primary"
      type="submit" 
      form="keyname" value="Search" onclick="formChanged()">Search</button>
    
</form>

<!--<form action="http://127.0.0.1:5000/suggested/" method="get">
    <input type="text" name="projectFilepath">
    <input type="submit">
</form>-->

<div class="alert alert-danger" id="IssueNotExist" style="display:none">
    <strong>No Such Issue Exists!</strong> 
</div>

<div class="alert alert-success" id="AssigneeChangedAlert" style="display:none">
    <strong>Assignee Updated!</strong> 
</div>

<div id="targetIssue" style="display:none">
<h3 style="text-align: center;" id="heading"><b>Target Issue</b></h3>

<table id="issueTable">
<thead>
	<tr id="row01">
	<th>Issue Type</th>
	<th>Summary</th>
  <th>Description</th>
	<th>Key</th>
  <th>Priority</th>
  <th>Issue Creator</th>
	</tr>
</thead>
<tbody>
	<tr id="row0"></tr>
</tbody>
</table>
</div>

<div id="ShowSuggestionList" style="display:none">
<h3 style="text-align: center;"><b>Suggested Assignee List</b></h3>
<span>{{result.objective_function}}</span>

<!--<button class="aui-button aui-dropdown2-trigger" aria-controls="example-dropdown">
    Assignee dropdown
</button>

<aui-dropdown-menu id="example-dropdown">
      <aui-item-link id="r1" href="#"></aui-item-link>
      <aui-item-link id="r2" href="#"></aui-item-link>
      <aui-item-link id="r3" href="#"></aui-item-link>
</aui-dropdown-menu>-->

<table id="assigneeTable">
<thead>
	<tr>
	<th> </th>
	</tr>
</thead>
<tbody>
  <tr id="r1" onclick="rowClicked(id)">
    <td id="avatar_r1"></td>
    <td id="name_r1"></td>
    <td>
      <div class="w3-light-grey w3-round-xlarge">
        <div class="w3-container w3-blue w3-round-xlarge" id="score_r1" style="width:80%;height:10px"></div>
      </div>
    </td>
  </tr>
  <tr id="r2" onclick="rowClicked(id)">
    <td id="avatar_r2"></td>
    <td id="name_r2"></td>
    <td>
      <div class="w3-light-grey w3-round-xlarge">
        <div class="w3-container w3-blue w3-round-xlarge" id="score_r2" style="width:70%;height:10px"></div>
      </div>
    </td>
  </tr>
  <tr id="r3" onclick="rowClicked(id)">
    <td id="avatar_r3"></td>
    <td id="name_r3"></td>
    <td>
      <div class="w3-light-grey w3-round-xlarge">
        <div class="w3-container w3-blue w3-round-xlarge" id="score_r3" style="width:65%;height:10px"></div>
      </div>
    </td>
  </tr>
  <tr id="r4" onclick="rowClicked(id)">
    <td id="avatar_r4"></td>
    <td id="name_r4"></td>
    <td>
      <div class="w3-light-grey w3-round-xlarge">
        <div class="w3-container w3-blue w3-round-xlarge" id="score_r4" style="width:50%;height:10px"></div>
      </div>
    </td>
  </tr>
  <tr id="r5" onclick="rowClicked(id)">
    <td id="avatar_r5"></td>
    <td id="name_r5"></td>
    <td>
      <div class="w3-light-grey w3-round-xlarge">
        <div class="w3-container w3-blue w3-round-xlarge" id="score_r5" style="width:30%;height:10px"></div>
      </div>
    </td>
  </tr>


	<!--<tr>
    <button class="aui-button aui-button-primary" id="r1" onclick="buttonClicked()">
    </button>
  </tr>
  <tr>
    <button class="aui-button aui-button-primary" id="r2">
    </button>
  </tr>
  	<tr>
    <button class="aui-button aui-button-primary" id="r3">
    </button>
  </tr>
  	<tr>
    <button class="aui-button aui-button-primary" id="r4">
    </button>
  </tr>
  	<tr>
    <button class="aui-button aui-button-primary" id="r5">
    </button>
  </tr>-->


</tbody>
</table>
</div>
</div>
</div>


<!--<div id="ShowAllUnassigned" class="tabcontent">
  <p>Show all unassigned issues here</p>
</div>-->

<div id="NewDev" class="tabcontent">
  <!--<h3>Upload Resume For New Developers</h3>
  <div style="position: absolute; top: 16px; right: 16px; font-size: 14px; flex:20%">-->
  <div>
    <form action="http://127.0.0.1:5000/getfile" method="POST" enctype="multipart/form-data"
    id="myForm" style="display:block">
          <div class="form-group">
            <label for="usr">Name:</label>
            <input type="text" class="form-control" name="username" id="usr">
          </div>
          Upload Resume (Must Be In Text Format) <input type="file" name="myfile" id="fileInput"><br>
          <input id="buttonReset" class="btn btn-primary" type="submit" value="Submit" onclick="formSubmitted()">
    </form>

  </div>

  <div class="alert alert-success" id="myAlert" style="display:none">
    <strong>Resume Upload Successful!</strong> 
  </div>

</div>


<div style="display :flex;">
   
</div>




